/* You can add global styles to this file, and also import other style files */
* {
    font-family: sans-serif;
}

h1,
h4 {
    text-align: center;
}

#me {
    position: relative;
    width: 50%;
    margin: 0 auto;
    display: block;
}

#me video {
    position: relative !important;
}

#remote-container {
    display: flex;
}

#remote-container video {
    height: auto;
    position: relative !important;
}